<config>
    <modules>
        <Rack_Ketai>
            <version>0.1.0</version>
        </Rack_Ketai>
    </modules>
    <global>
        <models>
            <ketai>
                <class>Rack_Ketai_Model</class>
            </ketai>
            <core>
                 <rewrite>
                      <design_package>Rack_Ketai_Model_Design</design_package>
                 </rewrite>
            </core>
        </models>
        <helpers>
            <ketai>
                <class>Rack_Ketai_Helper</class>
            </ketai>
        </helpers>
        <blocks>
            <ketai>
                <class>Rack_Ketai_Block</class>
            </ketai>
            <catalog>
                <rewrite>
                    <navigation>Rack_Ketai_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <links>Rack_Ketai_Block_Checkout_Link</links>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <frontend>
        <routers>
            <ketai>
                <use>standard</use>
                <args>
                    <module>Rack_Ketai</module>
                    <frontName>ketai</frontName>
                </args>
            </ketai>
        </routers>
        <layout>
            <updates>
                <ketai>
                    <file>rack_ketai.xml</file>
                </ketai>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rack_Ketai>
                    <files>
                        <default>Rack_Ketai.csv</default>
                    </files>
                </Rack_Ketai>
            </modules>
        </translate>
    </frontend>
    <default>
        <ketai>
            <ketai>
                <route>/ketai/</route>
            </ketai>
            <default>
                <ketai_home_page>ketaitop</ketai_home_page>
                <ketai_no_route>no-route</ketai_no_route>
                <ketai_no_cookies>enable-cookies</ketai_no_cookies>
                <front>ketai</front>
                <no_route>ketai/index/noRoute</no_route>
                <show_ketai_breadcrumbs>1</show_ketai_breadcrumbs>
            </default>
        </ketai>
    </default>
</config>
