<config>
    <modules>
        <Rack_Ketai>
            <version>0.1.0</version>
        </Rack_Ketai>
    </modules>
    <global>
        <models>
            <core>
                 <rewrite>
                      <design_package>Rack_Ketai_Model_Design</design_package>
                 </rewrite>
            </core>
        </models>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>Rack_Ketai_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <default>
        <ketai>
            <ketai>
                <route>/ketai/</route>
            </ketai>
            <default>
                <ketai_home_page>ketaitop</ketai_home_page>
                <ketai_no_route>no-route</ketai_no_route>
                <ketai_no_cookies>enable-cookies</ketai_no_cookies>
                <front>ketai</front>
                <no_route>ketai/index/noRoute</no_route>
                <show_ketai_breadcrumbs>1</show_ketai_breadcrumbs>
            </default>
        </ketai>
    </default>
</config>
